<meta charset="utf-8" />
<title><%= title %></title>
<%= render 'layouts/stylesheets' %>
<link rel="icon" href="/favicon.ico" type="image/x-icon">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<%= render 'layouts/typekit' %>
<%= csrf_meta_tag %>
<%= render 'layouts/ie_shiv' %>
<%= yield :head %>
