<!DOCTYPE html>
<html>
  <head>
    <%= render 'application/head_contents' %>
  </head>
  <body class="<%= body_class %>"> <%= render "flashes" -%>
    <% if signed_in? %>
      Signed in as: <%= current_user.email %>
      <%= button_to 'Sign out', sign_out_path, method: :delete %>
    <% else %>
      <%= link_to 'Sign in', sign_in_path %>
    <% end %> 
    <%= yield %>
    <%= render "javascript" %>
  </body>
</html>
